#alph_buttons, #target_word_div{
	text-align:center;
}
 #button_group, #target_word{
	margin:auto;
	
 }
 h1{
	text-align:center;
 }
 button{
	 width:5%;
 }

 .error_msg{
	 color:red;
	 font-size: 1.5em;
 }

 #loading_image{
	 display:none;
 }